##########################
# KEDRO PROJECT

# ignore all local configuration
conf/local/**
!conf/local/.gitkeep

# ignore potentially sensitive credentials files
conf/**/*credentials*

# ignore everything in the following folders
data/**
logs/**

# except their sub-folders
!data/**/
!logs/**/

# also keep all .gitkeep files
!.gitkeep

# also keep the example dataset
!data/01_raw/*.csv